@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="col-lg-pull-1">
        <h2>Site em Construção</h2>  
    <h1>Kokedamas da Harue </h1>
    <p class="lead">Kokedamas Wikipedia</p>
    <p><a href="https://pt.wikipedia.org/wiki/Kokedama" target="_blank" class="btn btn-primary btn-lg"> Ler mais sobre Kokedamas &raquo;</a></p>
    <h1>TuperWare da Harue </h1>
    <p class="lead">TuperWare</p>
    <p><a href="https://www.mundotupperware.com.br/" target="_blank" class="btn btn-primary btn-lg"> Acessar Mundo TuperWare &raquo;</a></p>
</div>

    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Google</h2>
            <p>
                Google
            </p>
            <p><a target="_blank" class="btn btn-default" href="https://google.com"> Google.com &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Hotmail</h2>
            <p>Hotmail.</p>
            <p><a target="_blank" class="btn btn-default" href="https://hotmail.com">Hotmail.com &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>MSN.com</h2>
            <p>MSN.</p>
            <p><a target="_blank" class="btn btn-default" href="https://msn.com">MSN.com &raquo;</a></p>
        </div>
    </div>





    <div>
        <form method="get" action="https://globo.com">
            <button type="submit" class="btn-primary" style="background-color:gray;width:100px">Botão teste aroldo1</button>
        </form>
        <button type="button" class="btn-primary" style="background-color:gray;width:100px">Botão teste aroldo</button>
        <a class="btn-danger" href="https://www.gmail.com" target="_blank" role="button">Botão Teste Gmailk</a>
        <a class="btn-warning" href="https://getbootstrap.com" target="_blank" role="button">Botão Teste Bootstrap</a>

    </div>
